$Main-Color: #304352;
$Red-Color: #ed4e6e;

* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
    height: 5000px;
}

#up-to-top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    position: fixed;
    bottom: 20px;
    box-shadow: 0px 0px 5px 2px gray;
    right: 20px;
    z-index: 200;
    color: $Red-Color;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

#up-to-top:hover {
    background-color: $Red-Color;
    color: white;
}


.navbar {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 200;

    .navbar-brand {
        color: $Main-Color;
        font-size: 27px;
    }

    .navbar-collapse {
        .nav-link {
            font-size: 14px;
            color: rgb(173, 171, 171);
            position: relative;
            margin: 10px 0px;
            padding: 0px;
        }

        #line-home,
        #line-about,
        #line-gallary,
        #line-contact {
            position: absolute;
            width: 0%;
            height: 1.5px;
            background-color: $Main-Color;
            bottom: 0px;
            left: 0px;
            transition: all .3s ease-in-out;

        }

        #line-home {
            width: 100%;
        }
    }

    .navbar-toggler {
        border: none;
        outline: none;
        box-shadow: none;
    }
}

@media only screen and (max-width:768px) {

    #line-home,
    #line-about,
    #line-gallary,
    #line-contact {
        display: none;
    }
}

#home {
    background: url('../imgs/px-beach-daylight-fun-1430675-image.jpg') center no-repeat fixed;
    background-size: cover;
    clear: both;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $Main-Color;
        opacity: .9;
        z-index: -1;
    }

    h2 {
        font-weight: 300;
        word-spacing: 10px;
        letter-spacing: 10px;
        line-height: 1.7;
    }

    p {
        line-height: 1.9;
        font-size: 20px;
        color: rgb(236, 234, 234);
        font-weight: 300;

        a {
            color: $Red-Color;
            text-decoration: none;
            text-transform: none;
            font-weight: lighter;
        }
    }

    .btn {
        background-color: $Red-Color;
        color: rgb(226, 224, 224);
        padding: 13px 40px;
        border-radius: 5px;
        border: none;
    }

    .btn:hover {
        box-shadow: none;
        border: none;
        background-color: #222;
    }
}