$Main-Color: #304352;
$Red-Color: #ed4e6e;

* {
    box-sizing: border-box;
}

h2 {
    font-weight: 300;
    word-spacing: 10px;
    letter-spacing: 10px;
    line-height: 1.7;
}

a {
    text-decoration: none;
}

body {
    background-color: #eee;
    // height: 5000px;
}


#up-to-top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    position: fixed;
    bottom: 20px;
    box-shadow: 0px 0px 5px 2px gray;
    right: 20px;
    z-index: 200;
    color: $Red-Color;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

#up-to-top:hover {
    background-color: $Red-Color;
    color: white;
}


.navbar {
    background-color: white;
    position: fixed;
    width: 100%;
    box-shadow: 0px 2px 8px 0px rgba(36, 36, 36, 0.08);
    ;
    z-index: 200;

    .navbar-brand {
        color: $Main-Color;
        font-size: 27px;
    }

    .navbar-collapse {
        .nav-link {
            font-size: 14px;
            color: rgb(173, 171, 171);
            position: relative;
            margin: 10px 0px;
            padding: 0px;
        }

        #line-home,
        #line-about,
        #line-gallary,
        #line-contact {
            position: absolute;
            width: 0%;
            height: 1.5px;
            background-color: $Main-Color;
            bottom: 0px;
            left: 0px;
            transition: all .3s ease-in-out;

        }

        #line-home {
            width: 100%;
        }
    }

    .navbar-toggler {
        border: none;
        outline: none;
        box-shadow: none;
    }
}

@media only screen and (max-width:768px) {

    #line-home,
    #line-about,
    #line-gallary,
    #line-contact {
        display: none;
    }
}

#home {
    background: url('../imgs/px-beach-daylight-fun-1430675-image.jpg') center no-repeat fixed;
    background-size: cover;
    clear: both;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $Main-Color;
        opacity: .9;
        z-index: -1;
    }



    p {
        line-height: 1.9;
        font-size: 20px;
        color: rgb(236, 234, 234);
        font-weight: 300;

        a {
            color: $Red-Color;
            text-decoration: none;
            text-transform: none;
            font-weight: lighter;
        }
    }

    .btn {
        background-color: $Red-Color;
        color: rgb(226, 224, 224);
        padding: 13px 40px;
        border-radius: 5px;
        border: none;
    }

    .btn:hover {
        box-shadow: none;
        border: none;
        background-color: #222;
    }
}

#about {
    padding: 100px 0px;

    .background-about {
        float: left;
        width: 75%;
        background-color: white;
        height: 400px;
    }

    .about-img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        padding: 10px;
        border: 10px solid white;
    }

    p {
        line-height: 2;
        color: gray;
        font-size: 20px;
        font-weight: 100;
    }
}

@media only screen and (min-width:769px) {
    #about {
        .about-img {
            margin-top: 40px;
            margin-left: -95px;
        }
    }
}

@media only screen and (max-width:768px) {
    #about {
        .background-about {
            width: 100%;
            height: 450px;
        }

        .about-img {
            width: 70%;
            margin-left: 16%;
            border: none;
            border-radius: 20px;
            height: 370px;
            margin-top: 20px;
        }
    }
}

@media only screen and (max-width:426px) {
    #about {
        .background-about {
            width: 100%;
            height: auto;
        }

        .about-img {
            width: 100%;
            margin-left: 0%;
            border: none;
            border-radius: 20px;
            height: 370px;
        }
    }
}

.swiper {
    height: 400px;
    margin-top: 60px;

    .swiper-slide {
        background-color: white;
        transition: all .3s ease-in-out;
        position: relative;
        z-index: 1;

        .img-team-about {
            margin: auto;
            border-radius: 50%;
            transition: all .3s ease-in-out;
            z-index: 2;
        }

        h4 {
            color: $Red-Color;
            font-size: 20px;
            transition: all .3s ease-in-out;
            font-weight: bold;
        }

        p {
            transition: all .4s ease-in-out;
            opacity: 0;
        }
    }

    .swiper-slide:hover {
        background-color: $Main-Color;
        transition: all .3s ease-in-out;

        .img-team-about {
            transition: all .3s ease-in-out;
            transform: translateY(-40px);
        }

        h4 {
            transition: all .3s ease-in-out;
            transform: translateY(-20px);
        }

        p {
            // display: inline-block;
            opacity: 1;
            color: white;
            transition: all .4s ease-in-out;
            transform: translateY(-15px);
        }
    }
}

.swiper-pagination {
    position: relative;
    bottom: -10px !important;

    .swiper-pagination-bullet {
        background-color: #222;
        border-radius: 0px;
        display: inline-block;
        width: 15px;
        height: 5px;
    }
}

#gallery {
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
    background-color: white;

    .header-gallery {
        margin-bottom: 50px;

        p {
            color: rgb(146, 145, 145);
            font-weight: 300;
            font-size: 20px;
        }
    }

    .item-gallery {
        position: relative;
        transform-style: preserve-3d;
        perspective: 1700px;
        border-radius: 20px;

        img {
            width: 100%;
            height: 400px;
            transition: all .5s ease-in-out;
        }

        .card-gallery {
            background-color: $Main-Color;
            height: 400px;
            opacity: 0;
            position: absolute;
            z-index: 1;
            top: 0;
            backface-visibility: hidden;
            transform: rotateY(-90deg);
            transform-origin: 0 0;
            transition: transform 0.7s, opacity 0.1s 0.4s;

            .text-card {
                h3 {
                    color: rgb(217, 215, 215);
                    font-weight: 300;
                    letter-spacing: 10px;
                }

                small {
                    color: $Red-Color;
                    font-weight: lighter;
                    font-size: 14px;
                }
            }

            .btn {

                background-color: $Red-Color;
                font-size: 14px;
                border-radius: 5px;

                a {
                    color: rgb(221, 218, 218);
                }
            }

            .btn:hover {
                border-color: transparent;
            }
        }
    }

    .item-gallery:hover {
        .card-gallery {
            transform: rotateY(0deg);
            opacity: 1;
            transition: transform 0.5s, opacity 0.1s;
        }

        img {
            transform: translateX(140px);
            transition: all .3s ease-in-out;
        }
    }
}

@media only screen and (min-width:768px) {
    .card-gallery {
        width: 50%;
    }
}

@media only screen and (max-width:768px) {
    .card-gallery {
        width: 60%;
    }
}


#contact {
    background-color: $Main-Color;
    padding: 150px 0px;

    .header-footer {
        h2 {
            color: #fff;
        }

        p {
            color: rgb(234, 232, 232);
            font-size: 20px;
            font-weight: 200;
        }

    }

    input,
    textarea {
        background-color: transparent;
        border: 1px solid white;
        text-transform: capitalize;
        color: white;
        transition: all .5s ease-in-out;

    }

    input:focus-visible,
    textarea:focus-visible {
        outline: none;
        border-color: $Red-Color;
        transition: all .5s ease-in-out;
    }

    .btn {
        background-color: $Red-Color;
        font-weight: 400;
        font-size: 20px;
        border-color: transparent;
    }
}

@media only screen and (min-width:426px) {
    #contact {
        .btn {
            padding: 13px 160px;
        }
    }
}

@media only screen and (max-width:426px) {
    #contact {
        .btn {
            padding: 10px 50px;
        }
    }
}