* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  font-weight: 300;
  word-spacing: 10px;
  letter-spacing: 10px;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

body {
  background-color: #eee;
}

#up-to-top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  bottom: 20px;
  -webkit-box-shadow: 0px 0px 5px 2px gray;
          box-shadow: 0px 0px 5px 2px gray;
  right: 20px;
  z-index: 200;
  color: #ed4e6e;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

#up-to-top:hover {
  background-color: #ed4e6e;
  color: white;
}

.navbar {
  background-color: white;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(36, 36, 36, 0.08);
          box-shadow: 0px 2px 8px 0px rgba(36, 36, 36, 0.08);
  z-index: 200;
}

.navbar .navbar-brand {
  color: #304352;
  font-size: 27px;
}

.navbar .navbar-collapse .nav-link {
  font-size: 14px;
  color: #adabab;
  position: relative;
  margin: 10px 0px;
  padding: 0px;
}

.navbar .navbar-collapse #line-home,
.navbar .navbar-collapse #line-about,
.navbar .navbar-collapse #line-gallary,
.navbar .navbar-collapse #line-contact {
  position: absolute;
  width: 0%;
  height: 1.5px;
  background-color: #304352;
  bottom: 0px;
  left: 0px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navbar .navbar-collapse #line-home {
  width: 100%;
}

.navbar .navbar-toggler {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media only screen and (max-width: 768px) {
  #line-home,
  #line-about,
  #line-gallary,
  #line-contact {
    display: none;
  }
}

#home {
  background: url("../imgs/px-beach-daylight-fun-1430675-image.jpg") center no-repeat fixed;
  background-size: cover;
  clear: both;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #304352;
  opacity: .9;
  z-index: -1;
}

#home p {
  line-height: 1.9;
  font-size: 20px;
  color: #eceaea;
  font-weight: 300;
}

#home p a {
  color: #ed4e6e;
  text-decoration: none;
  text-transform: none;
  font-weight: lighter;
}

#home .btn {
  background-color: #ed4e6e;
  color: #e2e0e0;
  padding: 13px 40px;
  border-radius: 5px;
  border: none;
}

#home .btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background-color: #222;
}

#about {
  padding: 100px 0px;
}

#about .background-about {
  float: left;
  width: 75%;
  background-color: white;
  height: 400px;
}

#about .about-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding: 10px;
  border: 10px solid white;
}

#about p {
  line-height: 2;
  color: gray;
  font-size: 20px;
  font-weight: 100;
}

@media only screen and (min-width: 769px) {
  #about .about-img {
    margin-top: 40px;
    margin-left: -95px;
  }
}

@media only screen and (max-width: 768px) {
  #about .background-about {
    width: 100%;
    height: 450px;
  }
  #about .about-img {
    width: 70%;
    margin-left: 16%;
    border: none;
    border-radius: 20px;
    height: 370px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 426px) {
  #about .background-about {
    width: 100%;
    height: auto;
  }
  #about .about-img {
    width: 100%;
    margin-left: 0%;
    border: none;
    border-radius: 20px;
    height: 370px;
  }
}

.swiper {
  height: 400px;
  margin-top: 60px;
}

.swiper .swiper-slide {
  background-color: white;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
  z-index: 1;
}

.swiper .swiper-slide .img-team-about {
  margin: auto;
  border-radius: 50%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 2;
}

.swiper .swiper-slide h4 {
  color: #ed4e6e;
  font-size: 20px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-weight: bold;
}

.swiper .swiper-slide p {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  opacity: 0;
}

.swiper .swiper-slide:hover {
  background-color: #304352;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.swiper .swiper-slide:hover .img-team-about {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.swiper .swiper-slide:hover h4 {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.swiper .swiper-slide:hover p {
  opacity: 1;
  color: white;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.swiper-pagination {
  position: relative;
  bottom: -10px !important;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #222;
  border-radius: 0px;
  display: inline-block;
  width: 15px;
  height: 5px;
}

#gallery {
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative;
  background-color: white;
}

#gallery .header-gallery {
  margin-bottom: 50px;
}

#gallery .header-gallery p {
  color: #929191;
  font-weight: 300;
  font-size: 20px;
}

#gallery .item-gallery {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1700px;
          perspective: 1700px;
  border-radius: 20px;
}

#gallery .item-gallery img {
  width: 100%;
  height: 400px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#gallery .item-gallery .card-gallery {
  background-color: #304352;
  height: 400px;
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: opacity 0.1s 0.4s, -webkit-transform 0.7s;
  transition: opacity 0.1s 0.4s, -webkit-transform 0.7s;
  transition: transform 0.7s, opacity 0.1s 0.4s;
  transition: transform 0.7s, opacity 0.1s 0.4s, -webkit-transform 0.7s;
}

#gallery .item-gallery .card-gallery .text-card h3 {
  color: #d9d7d7;
  font-weight: 300;
  letter-spacing: 10px;
}

#gallery .item-gallery .card-gallery .text-card small {
  color: #ed4e6e;
  font-weight: lighter;
  font-size: 14px;
}

#gallery .item-gallery .card-gallery .btn {
  background-color: #ed4e6e;
  font-size: 14px;
  border-radius: 5px;
}

#gallery .item-gallery .card-gallery .btn a {
  color: #dddada;
}

#gallery .item-gallery .card-gallery .btn:hover {
  border-color: transparent;
}

#gallery .item-gallery:hover .card-gallery {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  opacity: 1;
  -webkit-transition: opacity 0.1s, -webkit-transform 0.5s;
  transition: opacity 0.1s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.1s;
  transition: transform 0.5s, opacity 0.1s, -webkit-transform 0.5s;
}

#gallery .item-gallery:hover img {
  -webkit-transform: translateX(140px);
          transform: translateX(140px);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .card-gallery {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .card-gallery {
    width: 60%;
  }
}
/*# sourceMappingURL=Main.css.map */